@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AppState AppState
<BlazoredModal />

<div class="main">
    <MatAppBarContainer>
        <MatAppBar Fixed="true">
            <MatAppBarRow>
                <MatAppBarSection>
                    <MatIconButton Icon="menu" OnClick="@((e) => ButtonClicked())"></MatIconButton>
                    <MatAppBarTitle>Shopping-Tools</MatAppBarTitle>
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                    <MatIconButton Link="https://github.com/kevin-mueller/Shopping-Tools">
                        <div class="d-flex align-items-center justify-content-center align-content-center">
                            <i class="fab fa-github"></i>
                        </div>
                    </MatIconButton>
                    <MatIconButton Link="https://www.buymeacoffee.com/KevinMueller">
                        <div class="d-flex align-items-center justify-content-center align-content-center">
                            <i class="fas fa-mug-hot"></i>
                        </div>
                    </MatIconButton>
                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>
        <MatAppBarContent>
            <MatDrawerContainer Style="width: 100vw; height: 100%;">
                <MatDrawer @bind-Opened="@_opened" Mode="@MatDrawerMode.Modal">
                    <MatList>
                        <MatListItem Href="/">
                            Home
                        </MatListItem>
                        <MatListItem Href="/ManageProducts">
                            Manage Products
                        </MatListItem>
                        <AuthorizeView>
                            <NotAuthorized>
                                <MatListItem Href="/Identity/Account/Login">
                                    Login
                                </MatListItem>
                                <MatListItem Href="/Identity/Account/Register">
                                    Register
                                </MatListItem>
                            </NotAuthorized>
                            <Authorized>
                                <MatListItem Href="/Identity/Account/Manage">
                                    @_authenticationState.User.Identity.Name
                                </MatListItem>
                            </Authorized>
                        </AuthorizeView>

                    </MatList>
                </MatDrawer>
                <MatDrawerContent>
                    <div style="width: 100%;">
                        @if (AppState.AppIsLoading)
                        {
                            <MatProgressBar Indeterminate="true"></MatProgressBar>
                        }
                    </div>
                    <div class="content px-4">
                        @Body
                    </div>

                    <FooterComponent />
                </MatDrawerContent>
            </MatDrawerContainer>
        </MatAppBarContent>
    </MatAppBarContainer>
</div>

@code
{
    bool _opened;
    AuthenticationState _authenticationState = null;

    void ButtonClicked()
    {
        _opened = !_opened;
    }

    protected override async Task OnParametersSetAsync()
    {
        _authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}