@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider;
<BlazoredModal/>

<div class="main">
    <MatAppBarContainer>
        <MatAppBar Fixed="true">
            <MatAppBarRow>
                <MatAppBarSection>
                    <MatIconButton Icon="menu" OnClick="@((e) => ButtonClicked())"></MatIconButton>
                    <MatAppBarTitle>Shopping-Tools</MatAppBarTitle>
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                    <MatIconButton Icon="favorite"></MatIconButton>
                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>
        <MatAppBarContent>
            <MatDrawerContainer Style="width: 100vw; height: 100vh;">
                <MatDrawer @bind-Opened="@_opened" Mode="@MatDrawerMode.Modal">
                    <MatList>
                        <MatListItem Href="/">
                            Home
                        </MatListItem>
                        <MatListItem Href="/ManageProducts">
                            Manage Products
                        </MatListItem>
                        <AuthorizeView>
                            <NotAuthorized>
                                <MatListItem Href="/Identity/Account/Login">
                                    Login
                                </MatListItem>
                                <MatListItem Href="/Identity/Account/Register">
                                    Register
                                </MatListItem>
                            </NotAuthorized>
                            <Authorized>
                                <MatListItem Href="/Identity/Account/Manage">
                                    @_authenticationState.User.Identity.Name
                                </MatListItem>
                            </Authorized>
                        </AuthorizeView>

                    </MatList>
                    @*<LoginDisplay/>*@
                </MatDrawer>
                <MatDrawerContent>
                    <div class="content px-4">
                        @Body
                    </div>
                </MatDrawerContent>
            </MatDrawerContainer>
        </MatAppBarContent>
    </MatAppBarContainer>


    <FooterComponent/>
</div>

@code
{
    bool _opened = true;
    AuthenticationState? _authenticationState = null;

    void ButtonClicked()
    {
        _opened = !_opened;
    }

    protected override async Task OnParametersSetAsync()
    {
        _authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}